
/* Root Variables */
:root {
    /* Primary */
    --very-dark-blue-page-bg: hsl(233, 47%, 7%);
    --dark-desat-blue-card-bg: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);

    /* Neutral */
    --white-main-para-stats: hsl(0, 0%, 100%);
    --slight-transparent-white-main-para: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Inter', sans-serif;
    font-size: 15px;
    background-color: var(--very-dark-blue-page-bg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: var(--dark-desat-blue-card-bg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    border-radius: 10px;
}

.card-1 {
    /* background-color: var(--dark-desat-blue-card-bg); */
    width: 50%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto;
    gap: 5px;
    /* padding: 10px 25px 10px 25px; */
    margin-right: 50px;
    padding: 15px 70px 10px 35px;
    /* T R B L */
}

.hero-text {
    grid-row: 1;
}

.hero-text h1 {
    color: var(--white-main-para-stats);
    font-size: 2.2rem;
    margin-bottom: 10px;

}

.hero-text h1 span{
    color: var(--soft-violet);
}

.paragraph-text {
    grid-row: 2;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.paragraph-text p {
    color: var(--slight-transparent-white-main-para);
    font-size: 0.9rem;
}

.three-stats {
    grid-row: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.stat-1 h2, .stat-2 h2, .stat-3 h2{
    color: var(--white-main-para-stats);
    margin-bottom: 5px;
}

.stat-1 p, .stat-2 p, .stat-3 p{
    color: var(--slightly-transparent-white-stat-headings);
    text-transform: uppercase;
    font-size: 0.75rem;
}


.card-2 {
    width: 50%;
    position: relative;
}

.card-2 img {
    width: 100%;
    height: auto;
    display: block;
    /* Why did display block work? */
    border-radius: 0px 10px 10px 0px;
    /* top-left, top-right, bottom-right, and bottom-left */
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100;
    background-color: hsla(277, 78%, 50%, 0.5)
}

/* Media Queries */
@media only screen and (max-width: 414px) {
    /* iPhone XR */
    
    .container {
        background-color: var(--dark-desat-blue-card-bg);
        /* background-color: cyan; */
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        /* max-width: 80%; */
        border-radius: 10px;
    }

    .card-1 {
    /* background-color: var(--dark-desat-blue-card-bg); */
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto;
    /* padding: 10px 25px 10px 25px; */
    margin-top: 30px;
    margin-right: 0px;
    padding: 10px 10px 10px 10px;
    /* T R B L */
    }

    .hero-text {
        grid-row: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-text h1 {
        color: var(--white-main-para-stats);
        font-size: 2rem;
        margin-bottom: 1px;
        padding: 0;
    }

    .paragraph-text {
        grid-row: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 2;
    }

    .three-stats {
        grid-row: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .card-2 {
        width: 100%;
        margin-top: 50px;
        position: relative;
    }
    
    .card-2 img {
        width: 100%;
        height: auto;
        display: block;
        /* Why did display block work? */
        border-radius: 10px 10px 0px 0px;
        /* top-left, top-right, bottom-right, and bottom-left */
    }

    .stat-1, .stat-2, .stat-3 {
        margin-bottom: 10px;
    }

    .stat-1 h2, .stat-2 h2, .stat-3 h2{
        color: var(--white-main-para-stats);
        margin-bottom: 10px;
    }
    
    .stat-1 p, .stat-2 p, .stat-3 p{
        color: var(--slightly-transparent-white-stat-headings);
        text-transform: uppercase;
        font-size: 0.75rem;
    }
}